:root {
  --main-font: 'Nunito', sans-serif;
  --special-font: 'Poppins', sans-serif;
  --regular: 400;
  --medium: 500;
  --demibold: 600;
  --black-transparent: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  --white-transparent: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6));
  --primary-transparent: linear-gradient(rgba(19,77,171,0.6), rgba(19,77,171,0.6));
  --primary-less-transparent: linear-gradient(rgba(19,77,171,0.9), rgba(19,77,171,0.9));
  --primary: #134DAB;
  --gray: #7E8085;
  --rounded: 5px;
}

body {
  color: #fff;
  font-family: var(--main-font);
  font-weight: var(--regular);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
}

a {
  color: #fff;
  text-decoration: none;
}


/* Styles organized by visual blocks */

/* Above the fold (first block) */

.above-the-fold {
  box-sizing: border-box;
  height: 800px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 262px;
}

.above-the-fold:after {
  content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background: var(--black-transparent), url('images/heroimage.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header inside above-the-fold */

.header {
  box-sizing: border-box;
  font-weight: var(--demibold);
  margin: auto;
  position: relative;
  width: 70vw;
}

.top-logo {
  width: 200px;
}

.top-nav {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 0;
}

.top-nav ul {
  display: inline-block;
}

.top-nav li {
  display: inline-block;
  font-size: 15px;
  margin-right: 30px;
}

.button {
  background-color: var(--primary);
  border-radius: var(--rounded);
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  height: 50px;
  padding: 12px;
  width: 200px;
  text-align: center;
}

/* Content in above-the-fold */

.above-the-fold__content {
  margin: 166px auto;
  font-size: 16px;
  width: 550px;
}

.section-head {
  font-weight: var(--demibold);
  font-size: 44px;
  line-height: 48px;
  margin: 32px 0;
}

.above-the-fold__text {
  margin: auto;
  max-width: 450px;
}

.centered {
  text-align: center;
}

.centered-block {
  display: block;
  margin: auto;
}

/* Drawing the play button */

.play-button--round {
  background: var(--primary);
  border-radius: 50%;
  height: 80px;
  margin: 16px auto;
  position: relative;
  width: 80px;
}

.play-button__triangle {
  box-sizing: border-box;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 12px 0px 12px 18px;
  background: var(--primary);
  height: 23px;
  width: 18px;
  position: absolute;
  bottom: 29px;
  left: 33px;
}

.vertical-spacer {
  background-color: #fff;
  height: 76px;
  width: 1px;
  position: absolute;
  left: 50%;
  bottom: 106px;
}


/* Logo scroller (second block) */

.logo-scroller {
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2003px;
  margin-left: calc((2003px - 100vw) / -2);
}


/* Solutions (third block) */

.solutions {
  height: 720px;
}

.solutions__left {
  background-color: var(--primary);
  float: left;
  height: 100%;
  width: 50%;
}

.solutions__content {
  width: 563px;
  margin: 169px auto 121px auto;
}

.solutions__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 97px;
  text-align: justify;
  width: 517px;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 72px;
}

.selector {
  background: var(--white-transparent);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.selector--active {
  background: #fff;
  height: 14px;
  width: 14px;
}

.solutions__right {
  float: right;
  position: relative;
  height: 100%;
  width: 50%;
}

.solutions__right:after {
  content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background: var(--primary-transparent), url('images/guyonphone.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Services (fourth block) */

.services {
  box-sizing: border-box;
  height: 780px;
  padding-top: 110px;
  width: 100%;
}

.primary-color {
  color: var(--primary);
}

.services__image {
  display: block;
  margin: 50px auto;
}


/* Testimonials (fifth block) */

.testimonials {
  box-sizing: border-box;
  height: 606px;
  padding-top: 62px;
  position: relative;
  width: 100%;
}

.testimonials:after {
  content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background: var(--primary-less-transparent), url('images/testimonialbg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials__container {
  margin: 51px auto 29px auto;
  max-width: 1140px;
  position: relative;
}

.testimonial {
  display: block;
  font-size: 18px;
  line-height: 26px;
  margin: auto;
  max-width: 754px;
  text-align: center;
}

.scroll {
  background-color: #1C1C1C;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  width: 60px;
}

.scroll--left {
  left: 0;
}

.scroll--right {
  right: 0;
}

.scroll-arrow {
  display: block;
}

.scroll-arrow--left {
  margin: 19px 25px 18px 21px;
}

.scroll-arrow--right {
  margin: 19px 21px 18px 25px;
}

.testimonials__footer {
  margin-top: 29px;
  text-align: center;
}

.testimonial__author {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 6px;
}

.testimonial__author-title {
  letter-spacing: 1.5px;
  font-family: var(--special-font);
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 41px;
}


/* Contact info & map (sixth block) */

.contact {
  box-sizing: border-box;
  height: 820px;
  padding-top: 60px;
  width: 100%;
}

.contact__text {
  color: var(--gray);
  font-size: 16px;
  line-height: 26px;
  margin: -3px auto 23px auto;
  max-width: 611px;
}

.contact__info {
  margin: 0 auto 92px auto;
  max-width: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__label {
  color: var(--gray);
  letter-spacing: 1.5px;
  font-family: var(--special-font);
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 17px;
}

.contact__value {
  color: #000;
  font-family: var(--special-font);
  font-size: 18px;
  line-height: 30px;
}

.map {
  background-color: green;
  box-sizing: border-box;
  height: 400px;
  width: 100%;
}

/* Footer (seventh & final block) */

.footer {
  background-color: #000;
  box-sizing: border-box;
  height: 210px;
  width: 100%;
}

.footer__content {
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  max-width: 1140px;
  padding-top: 32px;
  position: relative;
}

.footer__content--top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.footer-logo {
  width: 138px;
}

.footer-nav {
  font-family: var(--special-font);
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 22px;
  width: 593px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}

.social {

}

.social-icon {
  margin-left: 25px;
}

.horizontal-spacer {
  background-color: #2A2C30;
  height: 3px;
  width: 100%;
}

.footer-copyright {
  color: #7E8085;
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 26px;
  margin-top: 43px;
  text-align: center;
}


/* Text meant only for screen readers. */
/* From WordPress */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
